Repository RisingSunLight42/TD2_TRAVaie_IW, pull requests merged in 2023-09, with the labels that each got.

#12 Add README and structural changes
  .github/ISSUE_TEMPLATE/addition.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: documentation, enhancement

#13 ✅ Add Form in HTML
  index.html
Labels: enhancement, html

#14 Add HTML Structure
  image/imgGithub.png
  index.html
Labels: enhancement, html

#15 [ADDITION]: Retrieve user inputs close #7
  image/imgGithub.png
  index.html
  js/app.js
Labels: enhancement, js, html

#18 add meteo information retrieving
  index.html
  js/app.js
Labels: js

#19 Add the use of APIs
  index.html
  js/app.js
Labels: enhancement, js, html

#21 🐛 Fix bad templates formatting
  .github/ISSUE_TEMPLATE/addition-.md
  .github/ISSUE_TEMPLATE/addition.md
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: bug

#26 CSS implement
  css/style.css
  image/cloudy.webp
  image/firstIcons.txt
  image/imgGithub.png
  image/rainy.webp
  image/snowy.webp
  image/stormy.webp
  image/sunny.webp
  index.html
Labels: css

#29 [BUG]: Fix display problems
  index.html
  js/app.js
Labels: bug, js, html

#30 [ADDITION]: Display background image according to weather
  css/style.css
  index.html
  js/app.js
Labels: enhancement, js, html, css

#32 ✨ Enhance informations display
  css/style.css
  js/app.js
Labels: js, css

#34 ♿️ Convert to webp
  image/imgGithub.png
  image/imgGithub.webp
  index.html
Labels: enhancement

#36 Add better informating view and more
  css/style.css
  index.html
  js/app.js
Labels: enhancement, js, html, css
